# Database
DATABASE_URL="mongodb+srv://user:password@cluster.mongodb.net/dbname?appName=Cluster0"

# Authentication (Next-Auth)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret-key"
